<!doctype html>
<html lang="en">
<head>
    <include href="includes/head.html"></include>
    <title>New Student</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h1 class="m-5">Add New Student</h1>

            <form method="post" action="" class="bg-light p-5">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" aria-describedby="first name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" aria-describedby="last name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="sid">Student Identification (SID) Number</label>
                    <input type="text" class="form-control" id="sid" aria-describedby="student id number" placeholder="">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>

</div>


</body>
</html>