<!doctype html>
<html lang="en">
<head>
    <include href="includes/head.html"></include>
    <title>Student Search</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h1 class="m-5">Student Search</h1>

            <form method="post" action="" class="bg-light p-5 mb-3">
                <div class="form-group">
                    <label for="search">Search student by name, SID, or email</label>
                    <input type="text" class="form-control" id="search" aria-describedby="search" placeholder="">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

            <a href="newStudent" class="btn btn-primary btn-block" role="button">Add New Student</a>
            <a href="viewStudent" class="btn btn-primary btn-block" role="button">View Student</a>

        </div>

    </div>

</div>


</body>
</html>