<!doctype html>
<html lang="en">
<head>
    <include href="includes/head.html"></include>
    <title>Student Search</title>
</head>
<body>

<!-- Nav bar -->
<include href="includes/nav.html"></include>

<!-- Page content -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h1 class="m-5">Student Search</h1>

            <form method="post" action="">
                <div class="form-group">
                    <label for="search">Search student by name</label>
                    <input type="text" class="form-control" id="search" aria-describedby="search" placeholder="">
                </div>
                <button type="submit" id="button" class="btn btn-primary" >Search</button><!--onclick="search()"-->
            </form>
            <div>
                <p id="studentInfo"></p>
                <p id="errorStudent"></p>
            </div>


            <a href="newStudent" class="btn btn-primary btn-block" role="button">Add New Student</a>
            <!--<a href="viewStudent" class="btn btn-primary btn-block" role="button">View Student</a>-->

<!--            <a href="viewStudent" class="btn btn-primary btn-block" role="button" name="test">VIEW STUDENT (TEST)</a>-->

<!--            <form method="post" action="">-->
<!--                <div class="form-group">-->
<!--                    <label for="search">Name: </label>-->
<!--                    <input type="text" class="form-control" id="name" placeholder="" readonly>-->
<!--                    <label for="search">SID: </label>-->
<!--                    <input type="text" class="form-control" id="sid" placeholder="" readonly>-->
<!--                    <label for="search">Email: </label>-->
<!--                    <input type="text" class="form-control" id="email" placeholder="" readonly>-->
<!--                </div>-->
<!--&lt;!&ndash;                <button type="submit" id="button" class="btn btn-primary" >Search</button>&ndash;&gt;-->
<!--                <a href="viewStudent" class="btn btn-primary btn-block" role="button" name="test">TEST STUDENT</a>-->
<!--            </form>-->


        </div>

    </div>

</div>
<!--<script src="./json-search-student.js"></script>-->
</body>
</html>