<!doctype html>
<html lang="en">
<head>
    <include href="includes/head.html"></include>
    <title>View Student</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">

            <h1 class="m-5">View Student</h1>

            <form method="post" action="" class="bg-light p-5 mb-3">
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" aria-describedby="first name" placeholder="" readonly>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" aria-describedby="last name" placeholder="" readonly>
                </div>
                <div class="form-group">
                    <label for="sid">Student Identification (SID) Number</label>
                    <input type="text" class="form-control" id="sid" aria-describedby="student id number" placeholder="" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="" readonly>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>

            <a href="" class="btn btn-primary btn-block" role="button">Add Attendance</a>
            <a href="" class="btn btn-primary btn-block" role="button">View Attendance Log</a>

        </div>

    </div>

</div>


</body>
</html>